body {
  font-family: "Heebo", sans-serif;
}

/* .header-main {
  display: flex;
} */

.header-main--firstLine {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
}

.header-main--firstLine_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}

.header-main--firstLine_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 340px;
}

.navBar-main {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-size: 19px;
  height: 38px;
}

.header-main--secondLine_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 147px;
}

.header-main--secondLine_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 235px;
}

.header-main--secondLine_3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 340px;
  height: 35px;
  color: #be8e74;
  background-color: #ffeee5;
}

.header-main--secondLine_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.header-main--secondLine_icon-shoppingBag {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 30px;
}

.header-main--thirdLine {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  height: 30px;
  margin-bottom: 10px;
}

.header-main--thirdLine-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 569px;
}

li {
  padding: 10px;
  font-size: 19px;
}

.header-main--fourthLine {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141518;
  color: #a4a4a4;
  letter-spacing: 0.03em;
  font-size: 17px;
  height: 50px;
  margin-top: 30px;
}

.main-banner {
  background-image: url("./images/banner.svg"),
    linear-gradient(
      90deg,
      rgba(20, 21, 24, 0.6) 1.5%,
      rgba(20, 21, 24, 0.006) 98.91%
    );
  margin-top: -1px;
  height: 370px;
  background-size: cover;
  background-position: center;
}

.main-banner--title {
  color: white;
  width: 450px;
  line-height: 5px;
  text-align: left;
  padding-left: 160px;
  padding-top: 100px;
}

.main-banner--buttons {
  width: 450px;
  text-align: left;
  padding-left: 140px;
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.main-banner--buttons_paraCachorro,
.main-banner--buttons_paraGato {
  text-decoration: none;
  border: solid white 1px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 175px;
  text-align: center;
}

.main-banner--buttons_paraCachorro {
  color: black;
  background-color: white;
}

.main-banner--buttons_paraGato {
  color: white;
}

.main-banner--buttons_paraCachorro:hover,
.main-banner--buttons_paraGato:hover {
  opacity: 0.7;
}
.grid {
  display: grid;
}

.item {
  display: grid;
}

.img-peitorais {
  grid-area: img-peitorais;
  padding: 15px;
}

.img-roupinhas {
  grid-area: img-roupinhas;
  padding: 15px;
}

.img-coleiras {
  grid-area: img-coleiras;
  padding: 15px;
}

.img-guias {
  grid-area: img-guias;
  padding: 15px;
}

.main-produtos--grid_template_area_1 {
  max-width: 100%;
  padding: 15px;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
    "img-peitorais img-roupinhas img-roupinhas"
    "img-peitorais img-coleiras img-guias";
}
